
#note{
    border:none;
    border-bottom: solid lightgray 1px;
    margin: 4px 2px;
    width:100%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    resize: none;
    transition: all .5s;
}
#note:hover,#title:hover{
    background-color: #eee;
    
}
#scroll{
    height: 50%;
    overflow-y: auto;
}
#title{
    border:none;
    font-size: 1.5rem;
    margin: 1px;
    width: 50%;
    transition: all .5s;
}
input,select{
    border: solid lightgray 1px;
}
#cname{
    width:75%;
}
#warning{
    color: red;
}
.cancel{
    color: red;
    cursor: pointer;

}
.conf-button{
    padding: 2%;
    margin: 0 2%;
}
button{
    border: solid lightgray 1px;
}
p{
    margin-bottom:2px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.contents{
    padding: 0 15px;
}

#categories{
background: white;
color: black;
resize: none;
border: solid 1px lightgrey;
width: 100%;
}

td, label{
  /*  width: 30%;*/
  padding: 10px;
}

table{
    width: 100%;
}

thead{
    background: lightgray;
}

a, a:hover{
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px;
    background: lightgray;
    margin: 5px;
}
